*.code-workspace
/memo.md
/build
/dist
/plot_playground.egg-info
/.ipynb_checkpoints/tmp_tests-checkpoint.ipynb
/plot_playground/tmp_test.py
/tmp_tests.ipynb
*.pyc
/.vscode
/log_test.xml
/log_failed_test.log
/plot_playground/tests/notes/.ipynb_checkpoints
*.log
/plot_playground/tests/tmp_test_img.png
/.ipynb_checkpoints
/plot_playground/plot_playground.egg-info/PKG-INFO
/plot_playground/plot_playground.egg-info/SOURCES.txt
/plot_playground/plot_playground.egg-info/dependency_links.txt
/plot_playground/plot_playground.egg-info/top_level.txt
*-checkpoint.ipynb
